In [1]:
import pandas as pd
from functools import reduce

In [2]:
# compile the list of dataframes you want to merge
df1 = pd.read_table("Data/January2020.csv", sep=',')
df2 = pd.read_table("Data/February2020.csv", sep=',')
df3 = pd.read_table("Data/March2020.csv", sep=',')
df4 = pd.read_table("Data/April2020.csv", sep=',')
df5 = pd.read_table("Data/May2020.csv", sep=',')
df6 = pd.read_table("Data/June2020.csv", sep=',')
df7 = pd.read_table("Data/July2020.csv", sep=',')
df8 = pd.read_table("Data/August2020.csv", sep=',')
df9 = pd.read_table("Data/September2020.csv", sep=',')
df10 = pd.read_table("Data/October2020.csv", sep=',')
df11 = pd.read_table("Data/November2020.csv", sep=',')
df12 = pd.read_table("Data/December2020.csv", sep=',')

In [3]:
# compile the list of dataframes you want to merge
data_frames = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12]

In [4]:
df_merged = reduce(lambda  left,right: pd.merge(left,right,
                                            how='outer'), data_frames)

In [5]:
# print df_merged
df_merged.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [6]:
# remove index
df_merged.style.hide_index()
df_merged.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [7]:
df_merged.to_csv("Data/citi_bikeData.csv", sep=',', na_rep='.', index=False)
df_merged.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')